.simulator-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  overflow: hidden;
}

.intersection {
  position: relative;
  width: 90vmin; /* Scales based on smaller dimension (mobile safe) */
  aspect-ratio: 1 / 1;
  background-image: url("/aerial-scene-intersection_1308-33191.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 12px;
}

/* Vehicles */
.vehicle {
  position: absolute;
  width: 10%; /* Proportional to the intersection */
  z-index: 2;
}

.car {
  width: 8%;
  mix-blend-mode: multiply;
  transform: rotate(90deg);
}
.bus {
  width: 12%;
  mix-blend-mode: multiply;
}
.bike {
  width: 5%;
  transform: rotate(90deg); /* Adjust rotation as needed */
  mix-blend-mode: multiply;
}
.right-car {
  width: 8%;
  mix-blend-mode: multiply;
  transform: rotate(270deg);
}
.right-bus {
  width: 12%;
  mix-blend-mode: multiply;
  transform: rotate(180deg);
}
.right-bike {
  width: 5%;
  transform: rotate(270deg); /* Adjust rotation as needed */
  mix-blend-mode: multiply;
}
.stop-line {
  width: 0.5%;
  height: 20%;
}
.left-stop-line {
  position: absolute;
  left: 37%;
  top: 40%;
  /* transform: rotate(90deg); */
  /* transform: translateY(-50%); */
  background-color: white;
}
.right-stop-line {
  position: absolute;
  right: 37%;
  top: 40%;
  /* transform: rotate(90deg); */
  /* transform: translateY(-50%); */
  background-color: white;
}
.top-stop-line {
  position: absolute;
  top: 28%;
  right: 49.5%;
  transform: rotate(90deg);
  /* transform: translateY(-50%); */
  background-color: white;
}
.bottom-stop-line {
  position: absolute;
  bottom: 28%;
  left: 50%;
  transform: rotate(90deg);
  /* transform: translateY(-50%); */
  background-color: white;
}
